[submodule "assignment-repos/01-web-scraping"]
	path = assignment-repos/01-web-scraping
	url = git@github.com:stat-assignments/web-scraping-rss.git
[submodule "assignment-repos/02-list-processing"]
	path = assignment-repos/02-list-processing
	url = git@github.com:stat-assignments/list-processing-drwho.git
[submodule "assignment-repos/04-apis"]
	path = assignment-repos/04-apis
	url = git@github.com:stat-assignments/api-use.git
[submodule "assignment-repos/05-pdf-parsing"]
	path = assignment-repos/05-pdf-parsing
	url = git@github.com:stat-assignments/pdf-data.git
[submodule "assignment-repos/screencast"]
	path = assignment-repos/screencast
	url = git@github.com:stat-assignments/public-data-screencast.git
[submodule "assignment-repos/06-good-graphics"]
	path = assignment-repos/06-good-graphics
	url = git@github.com:stat-assignments/creating-good-graphics.git
[submodule "assignment-repos/08-interactive-graphics"]
	path = assignment-repos/08-interactive-graphics
	url = git@github.com:stat-assignments/interactive-graphics-ojs.git
