[submodule "assignment-repos/01-web-scraping"]
	path = assignment-repos/01-web-scraping
	url = git@github.com:unl-stat351/stat351-unl-2025c-web-scraping-and-rss-web-scraping-rss.git
[submodule "assignment-repos/02-list-processing"]
	path = assignment-repos/02-list-processing
	url = git@github.com:unl-stat351/stat351-unl-2025c-list-processing-list-processing-drwho.git
[submodule "assignment-repos/04-apis"]
	path = assignment-repos/04-apis
	url = git@github.com:unl-stat351/stat351-unl-2025c-api-use.git
[submodule "assignment-repos/05-pdf-parsing"]
	path = assignment-repos/05-pdf-parsing
	url = git@github.com:unl-stat351/stat351-unl-2025c-pdf-data.git
